<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="CORE_DB_SERVER" value="mongodb://127.0.0.1/admin"/>
      <add key="CORE_DB_DATABASE" value="ewallet_core"/>
      <add key="TRANSACTION_DB_SERVER" value="mongodb://127.0.0.1/admin"/>
      <add key="TRANSACTION_DB_DATABASE" value="ewallet_core"/>
      <add key="PROFILE_DB_SERVER" value="mongodb://127.0.0.1/admin"/>
      <add key="PROFILE_DB_DATABASE" value="ewallet_core"/>
      <add key="BILLING_DB_SERVER" value="mongodb://127.0.0.1/admin"/>
      <add key="BILLING_DB_DATABASE" value="ewallet_core"/>
      <add key="FINANCE_DB_SERVER" value="mongodb://127.0.0.1/admin"/>
      <add key="FINANCE_DB_DATABASE" value="ewallet_core"/>
      <add key="SECURITY_DB_SERVER" value="mongodb://127.0.0.1/admin"/>
      <add key="SECURITY_DB_DATABASE" value="ewallet_core"/>
      <add key="SMS_DB_SERVER" value="mongodb://127.0.0.1/admin"/>
      <add key="SMS_DB_DATABASE" value="ewallet_core"/>
      <add key="MODE" value="LIVE"/>
     <!--<add key="CORE_DB_SERVER" value="mongodb://ewallet_core_admin:payid123@127.0.0.1/admin"/>
      <add key="CORE_DB_DATABASE" value="ewallet_core"/>
      <add key="SMS_DB_SERVER" value="mongodb://ewallet_core_admin:payid123@127.0.0.1/admin"/>
      <add key="SMS_DB_DATABASE" value="ewallet_sms"/>-->
    </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PaymentGatewaySoap11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentGatewaySoap11Binding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="PaymentGatewaySoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://autodiscover.banknetvn.com.vn/pg2705/services/PaymentGateway.PaymentGatewayHttpSoap12Endpoint"
          binding="customBinding" bindingConfiguration="PaymentGatewaySoap12Binding"
          contract="BankNetGW.PaymentGatewayPortType" name="PaymentGatewayHttpSoap12Endpoint" />
    </client>
  </system.serviceModel>
</configuration>