<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="eWallet.Data.Properties.Settings.eWalletConnectionString"
            connectionString="Data Source=192.168.85.128;Initial Catalog=eWallet;Persist Security Info=True;User ID=sa;Password=payid123@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>