<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PaymentGatewaySoap11Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentGatewaySoap11Binding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="PaymentGatewaySoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://online.banknetvn.com.vn/pg/services/PaymentGateway.PaymentGatewayHttpSoap11Endpoint"
                binding="basicHttpBinding" bindingConfiguration="PaymentGatewaySoap11Binding"
                contract="BankNetGW.PaymentGatewayPortType" name="PaymentGatewayHttpSoap11Endpoint" />
            <endpoint address="https://online.banknetvn.com.vn/pg/services/PaymentGateway.PaymentGatewayHttpSoap12Endpoint"
                binding="customBinding" bindingConfiguration="PaymentGatewaySoap12Binding"
                contract="BankNetGW.PaymentGatewayPortType" name="PaymentGatewayHttpSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>